{% extends "base.html" %}
{% load blog_extras cache %}

{% block content %}

<h2>{{ post.title }}</h2>

<div class="row">
    <div class="col">
        <small>
            By {{ post.author|author_details:request.user }}
            on {{ post.published_at|date:"M, d Y" }}
        </small>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        {{ post.content|safe }}
    </div>
</div>

<hr>

{% cache 3600 recent_posts post %}
    {% recent_posts post %}
{% endcache %}

{% include "blog/post-comments.html" %}

{% endblock %}
