{% load blog_extras %}
{% load crispy_forms_tags %}

<h4>Comments</h4>

{% for comment in post.comments.all %}
    <div class="row border-top pt-2">
        <div class="col">
            <h5>
                Posted by {{ comment.creator }}
                at {{ comment.created_at|date:"M, d Y h:i" }}
            </h5>
        </div>
    </div>

    <div class="row border-bottom">
        <div class="col">
            <p>{{ comment.content }}</p>
        </div>
    </div>
{% empty %}
    <div class="row border-top border-bottom">
        <div class="col">
            <p>No comments.</p>
        </div>
    </div>
{% endfor %}

{% if request.user.is_active %}
    <div class="row mt-4">
        <div class="col">
            <h4>Add Comment</h4>
            {%  crispy comment_form %}
        </div>
    </div>
{% endif %}
